/*******--------- PORTFOLIO ------------- ********/


.rows {
    padding-top: 94px;
    padding-bottom: 94px;
}


/**** what is it??????******/

.sprite-item-teamcard-pf {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}