/****** hero ******/

.hero {
    font-size: 44px;
    max-width: 1600px;
    margin: auto;
    line-height: 1.36;
    letter-spacing: 0.06em;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    color: var(--color-withlight);
    background-color: var(--color-footer-background);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header\ Img\ copy.jpg);

}

.hero__main-title {
    max-width: 696px;
    list-style: none;
    text-decoration: none;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--color-body);
        
    @media screen and (max-width: 767px) {
        font-size: 26px;
        line-height: 1.61;
        
    }
}

.hero__btn {
    font-size: 16px;
    padding: 8.97px 24px;
    line-height: calc(30/16);
    background-color: #2196F3;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;

}